.page-title{
    padding-top: 3px;
    padding-bottom: 2px;
    margin-bottom: 3px;
    background-size: 100%;
    background-color: black;
    display: flex;
  }

.h2{
    display: block;
    margin: auto;
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: system-ui;
    color: white;
    }
  
.title-bar {
    position: relative;
  }
  
.class-button{
    position:absolute;
    top:0;
    left:0;
  }

.line-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.media{
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.media-body{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main{
  height : auto !important; /* Ignored by Internet Explorer, applied everywhere else. */
  height : 100%;            /* Internet Explorer treats as min-height. */
  min-height : 100%;
}

.rtl{
  direction:rtl;
}
  