<div class="title-bar">
    <div class="page-title">
      <div class="class-button">
        <app-return-button></app-return-button>
      </div>
      <h4 class="h2"> פרופיל משתמש</h4>
    </div>
  </div>

  <!-- Main content -->
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="width: 100%;">
    <div class="inner-adjust">
      <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1>פרטים אישיים</h1>
      </div>
      <!-- Show user data when logged in -->
      <div class="row">
        <div class="col-md-12">
          <div class="media" >
            <!-- <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" -->
              <!-- alt="{{user.displayName}}"> -->
            <div dir="rtl" class="media-body rtl">
              <mat-form-field class="example-full-width" *ngIf="isEditEnable">
                <input matInput placeholder="שם פרטי" [(ngModel)]="firstName">
              </mat-form-field>
              <p *ngIf="!isEditEnable" dir="rtl"><strong>שם פרטי: </strong>{{this.user.firstName}}</p>
              <mat-form-field class="example-full-width" *ngIf="isEditEnable">
                <input matInput placeholder="שם משפחה" [(ngModel)]="lastName">
              </mat-form-field>
              <p *ngIf="!isEditEnable" dir="rtl"><strong>שם משפחה:</strong> {{this.user.lastName}}</p>
              <mat-form-field class="example-full-width" *ngIf="isEditEnable">
                <input matInput placeholder="תעודת זהות" [(ngModel)]="id">
              </mat-form-field>
              <p *ngIf="!isEditEnable" dir="rtl"><strong>תעודת זהות:</strong> {{this.user.userID}}</p>
              <p dir="rtl"><strong>דואר אלקטרוני:</strong> {{this.user.email}}</p>
            </div>
            <div class="line-item">
              <button *ngIf="!isEditEnable" class="edit-button" mat-raised-button color="primary" (click) ="startEditOption()">ערוך פרטי משתמש</button>
              <button *ngIf="isEditEnable" class="edit-button" mat-raised-button color="primary" (click) ="saveChangesOption()">שמור שינויים</button>
              <button *ngIf="isEditEnable" class="edit-button" mat-raised-button color="warn" (click) ="cancelOption()">בטל שינויים</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

<app-footer>
</app-footer>
  