<div class="title-bar">
    <div class="page-title">
      <div class="class-button">
        <app-return-button></app-return-button>
      </div>
      <h4 class="h2">על קצה הלשון</h4>
    </div>
</div>

<!-- Main content -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="width: 100%;">
    <div class="inner-adjust">
      <div class="row">
        <div class="col-md-12">
          <div class="media" >
            <div dir="rtl" class="media-body rtl">
                <div class="pt-3 pb-2 mb-3">
                    <h1 class="game-title">חוקי המשחק</h1>
                  </div>
                <div class="line-item">
                    <span class="emoji">🤔</span>
                    <p class="rules"> בחר את המילה המתארת את התמונה</p>
                  </div>
                  <div class="line-item">
                    <span class="emoji">🔥</span>
                    <p class="rules">כל סבב כולל 10 מילים ו4 אפשרויות</p>
                  </div>
                 
                  <div class="line-item">
                    <button class="start-button" mat-raised-button color="primary" (click) ="navigateToGame()">התחל משחק</button>
                    <button *ngIf="isCustonExists" class="start-button" mat-raised-button color="primary" (click) ="navigateToCustomGame()">משחק מותאם אישית</button>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
  
  




