<div class="title-bar">
    <div class="page-title">
      <div class="class-button">
        <app-return-button></app-return-button>
      </div>
      <h4 class="h2">על קצה הלשון</h4>
    </div>
</div>
 
    <div class="stretch">
      <div class="card-deck" fxLayout.xs="row">
        <div class="line-item">
          <h1 class="game-title">חוקי המשחק</h1>
          <p class="rules"> בחר את המילה המתארת את התמונה</p>
          <p class="rules">כל סבב כולל 10 מילים ו4 אפשרויות</p>
      </div>
    </div>
    <div class="loader">
      <mat-spinner [diameter]="75" *ngIf="isLoading"></mat-spinner>
   </div> 
    <div *ngIf="!isLoading">
      <mat-card style="width:10rem;" *ngFor="let item of CustomGames;  let i = index" >
        <mat-card-subtitle class="details-of-game text-center font" > (המשחק שוחק {{item.numOfPlayed}} פעמים)</mat-card-subtitle>
        <mat-card-subtitle class="mat-card-title text-center font" (click) ="navigateToCustomGame(item)" >משחק מותאם אישית {{i + 1}}</mat-card-subtitle>
      </mat-card> 
      <mat-card *ngIf="isRandomGameEnabled" style="width:10rem;" class="mat-card" >
        <mat-card-subtitle  (click) ="navigateToGame()" class="mat-card-title text-center font">התחל משחק כללי</mat-card-subtitle>
      </mat-card> 
      </div>
</div>
<app-footer>
</app-footer>
  
  
  




