<div class="title-bar">
    <div class="page-title">
      <div class="class-button">
        <app-return-button></app-return-button>
      </div>
      <h4 class="h2"> ניהול מטופלים - {{this.authService.patientOfTherapist.firstName}} </h4>
    </div>
  </div>
  
  <!-- for normal mode -->
  <div class="stretch">
    <div class="loader">
      <mat-spinner [diameter]="200" *ngIf="isLoading"></mat-spinner>
      </div>
      <div class="card-deck" fxLayout.xs="row" *ngIf="!isLoading">
        <mat-card style="width:10rem;" (click) = "navigateToPatientAnalytics();"
                 class="mat-card">
          <img md-card-image=""  src="https://firebasestorage.googleapis.com/v0/b/auth-development-599b0.appspot.com/o/reposts.jpg?alt=media&token=7e4e2ad7-f476-4028-a82e-35e2edf3223e" class="mat-card-image" />
          <mat-card-subtitle  class="mat-card-title text-center">סטטיסטיקות</mat-card-subtitle>
        </mat-card>
        <mat-card style="width:10rem;" (click) = "navigateToPatientCategories();"
                  class="mat-card">
          <img md-card-image=""  src="https://firebasestorage.googleapis.com/v0/b/auth-development-599b0.appspot.com/o/category.jpg?alt=media&token=15533869-f056-4586-bb3c-5e0785c8ee8d" class="mat-card-image" />
          <mat-card-subtitle  class="mat-card-title text-center"> קטגוריות המטופל</mat-card-subtitle>
        </mat-card>
        <mat-card style="width:10rem;" (click) = "navigateToGameSettings();"
                  class="mat-card">
          <img md-card-image=""  src="https://firebasestorage.googleapis.com/v0/b/auth-development-599b0.appspot.com/o/WhatsApp%20Image%202022-07-22%20at%2016.55.03.jpeg?alt=media&token=9586db84-5bdd-437f-9ca1-ffd20d05589c" class="mat-card-image" />
          <mat-card-subtitle  class="mat-card-title text-center">הגדרת משחק ל{{ authService.patientOfTherapist.firstName}}</mat-card-subtitle>
        </mat-card>
        <mat-card style="width:10rem;" (click) = "navigateToTestSettings();"
                  class="mat-card">
          <img md-card-image=""  src="https://firebasestorage.googleapis.com/v0/b/auth-development-599b0.appspot.com/o/%D7%98%D7%A1%D7%98.jpg?alt=media&token=450a3d75-78f4-4454-bb67-b445f965da87" class="mat-card-image" />
          <mat-card-subtitle  class="mat-card-title text-center">הגדרת מבחן ל{{ authService.patientOfTherapist.firstName}}</mat-card-subtitle>
        </mat-card>
    </div>
  </div>
  <app-footer>
  </app-footer>
  
  
  