<div class="title-bar">
    <div class="page-title">
      <div class="class-button">
        <app-return-button></app-return-button>
      </div>
      <h4 class="h2">ניהול מטופל</h4>
    </div>
  </div>
  
  <!-- for normal mode -->
  <div class="stretch">
      <div class="card-deck" fxLayout.xs="row">
        <mat-card style="width:10rem;" (click) = "navigateToPatientAnalytics();"
                 class="mat-card">
          <img md-card-image=""  src="https://firebasestorage.googleapis.com/v0/b/auth-development-599b0.appspot.com/o/reposts.jpg?alt=media&token=7e4e2ad7-f476-4028-a82e-35e2edf3223e" class="mat-card-image" />
          <mat-card-subtitle  class="mat-card-title text-center">סטטיסטיקות</mat-card-subtitle>
        </mat-card>
        <mat-card style="width:10rem;" (click) = "navigateToPatientCategories();"
                  class="mat-card">
          <img md-card-image=""  src="https://firebasestorage.googleapis.com/v0/b/auth-development-599b0.appspot.com/o/category.jpg?alt=media&token=15533869-f056-4586-bb3c-5e0785c8ee8d" class="mat-card-image" />
          <mat-card-subtitle  class="mat-card-title text-center"> קטגוריות המטופל</mat-card-subtitle>
        </mat-card>
    </div>
  </div>
  <app-footer>
  </app-footer>
  
  
  