.rtl{
    direction:rtl;
  }
  
.fix .md-label{
    margin-right:10px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  
.space{
    margin-left: 20px;
    margin-bottom: 12px;
}
  
  
  