<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h1>הרשמה</h1>
        <div class="formGroup">
          <input dir="rtl"
            type="text"
            class="formControl"
            placeholder="שם פרטי"
            #userFirstName
            required
          />
        </div>
        <div class="formGroup">
          <input dir="rtl"
            type="text"
            class="formControl"
            placeholder="שם משפחה"
            #userLastName
            required
          />
        </div>
        <div class="formGroup">
          <input dir="rtl"
            type="text"
            class="formControl"
            placeholder="תעודת זהות"
            #userID
            required
          />
        </div>
        <div class="formGroup">
          <input dir="rtl"
            type="email"
            class="formControl"
            placeholder="דואר אלקטרוני"
            #userEmail
            required
          />
        </div>
        <div class="formGroup">
          <input dir="rtl"
            type="password"
            class="formControl"
            placeholder="סיסמה"
            #userPwd
            required
          />
        </div>
        <div class="rtl fix">
        <mat-radio-group [(ngModel)]="userType"
          dir="rtl" align="end" aria-label="Select an option">
          <mat-radio-button color="primary" class="space" value="patient">מטופל</mat-radio-button>
          <mat-radio-button color="primary" value="admin">מטפל</mat-radio-button>
        </mat-radio-group>
      </div>
        <div class="formGroup">
          <input
            type="button"
            class="btn btnPrimary"
            value="הירשם"
            (click)="authService.SignUp(userFirstName.value, userLastName.value, userID.value, userEmail.value, userPwd.value, this.userType)"
          />
        </div>

       
        <div class="formGroup">
          <span class="or"><span class="orInner">או</span></span>
        </div>
        <!-- Continue with Google -->
        <div class="formGroup">
          <button
            type="button"
            class="btn googleBtn"
            (click)="authService.GoogleAuth()"
          >
            <i class="fab fa-google-plus-g"></i>
          המשך עם גוגל          
      </button>
        </div>
      </div>
      <div class="redirectToLogin">
        <span>
          ברשותך חשבון קיים?  
          <span class="redirect" routerLink="/sign-in">התחבר</span></span
        >
      </div>
    </div>
  </div>