<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h1>הרשמה</h1>
        <div class="formGroup">
          <input dir="rtl"
            matInput
            type="text"
            class="formControl"
            placeholder="שם פרטי"
            #userFirstName
            ngModel 
            required
          />
        </div>
        <div class="formGroup">
          <input dir="rtl"
            matInput
            type="text"
            class="formControl"
            placeholder="שם משפחה"
            #userLastName
            ngModel
            required
          />
        </div>
        <div class="formGroup">
          <input dir="rtl"
            matInput
            type="text"
            class="formControl"
            placeholder="תעודת זהות"
            #userID
            ngModel 
            required
          />
        </div>
        <div class="formGroup">
          <input required  dir="rtl"
            matInput
            type="email"
            class="formControl"
            placeholder="דואר אלקטרוני"
            #userEmail
            ngModel 
            required
          />
        </div>
        <div class="formGroup">
          <input dir="rtl"
            matInput
            type="password"
            class="formControl"
            placeholder="סיסמה"
            #userPwd
            ngModel 
            required
          />
        </div>
        <div class="rtl fix">
        <mat-radio-group [(ngModel)]="userType"
          dir="rtl" align="end" aria-label="Select an option">
          <mat-radio-button color="primary" class="space" value="patient">מטופל</mat-radio-button>
          <mat-radio-button color="primary" value="admin">מטפל</mat-radio-button>
        </mat-radio-group>
      </div>
        <div class="formGroup">
          <input
            type="button"
            class="btn btnPrimary"
            value="הירשם"
            (click)="signUp(userFirstName.value, userLastName.value, userID.value, userEmail.value, userPwd.value, this.userType); "
          />
        </div>
      </div>
      <div class="redirectToLogin">
        <span>
          ברשותך חשבון קיים?  
          <span class="redirect" routerLink="/sign-in">התחבר</span></span
        >
      </div>
    </div>
  </div>