<div class="title-bar">
    <div class="page-title">
      <div class="class-button">
        <app-return-button></app-return-button>
      </div>
      <h4 class="h2 font">הגדרת מבחן ל{{ authService.patientOfTherapist.firstName}}</h4>
    </div>
  </div>

<div class="stretch">
    <div class="line-item" style="margin-bottom: 10px;">
        <button class="create-button font" mat-raised-button color="primary" (click)="navigateToCreateTest()"> יצירת מבחן חדש</button>
    </div>

    
<app-footer>
</app-footer>

