<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h1>התחברות</h1>
        <div class="formGroup">
          <input  dir="rtl" type="text" class="formControl" placeholder="דואר אלקטרוני " #userName required>
        </div>
        <div class="formGroup">
          <input dir="rtl" type="password" class="formControl" placeholder="סיסמה" #userPassword required>
        </div>
        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="התחבר" (click)="signIn(userName.value, userPassword.value)">
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">או</span></span>
        </div>
        <!-- Calling GoogleAuth Api from AuthService -->
        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            התחבר עם גוגל
          </button>
        </div>
        <div class="forgotPassword">
          <span routerLink="/forgot-password"> ?שכחת סיסמה</span>
        </div>
      </div>
      <div class="redirectToLogin">
        <span>אין לך חשבון? <span class="redirect" routerLink="/register-user"> הירשם</span></span>
      </div>
    </div>
  </div>
  
