<div class="title-bar">
    <div class="page-title">
      <div class="class-button">
        <app-return-button></app-return-button>
      </div>
      <h4 class="h2">סטטיסטיקות המטפל עבור {{this.authService.patientOfTherapist.firstName}}</h4>
    </div>
  </div>

<div class="stretch">
  <div class="display"> 
  <div class="card-deck" ></div>
  <div dir="rtl" class="main">
      <mat-card style="width:500px; height:450px;">
        <p style="text-align: center;"> עשר המילים הנצפות ביותר</p>
          <mat-card-content style="margin-top: 44px;">
            <canvas class="canvas1" id="myChart1"> </canvas>
          </mat-card-content>
          <mat-card-actions class="date-picker" style="margin-top: 40px;">
            <mat-form-field appearance="fill">
              <mat-label>אנא בחר טווח תאריכים</mat-label>
              <mat-date-range-input [formGroup]="this.rangeChart1" [rangePicker]="picker1" [min]="this.analytics.topTenWordsMinDate" [max]="this.analytics.topTenWordsMaxDate" >
                <input matStartDate formControlName="start" placeholder="Start date"  >
                <input matEndDate formControlName="end" placeholder="End date"  >
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-date-range-picker #picker1></mat-date-range-picker>
            </mat-form-field>
            <div class="button-row">
              <button class="button" mat-raised-button (click)="filterByDataWords()">סנן</button>
              <button class="button" mat-raised-button (click)="resetWords()">אתחל</button>
            </div>
          </mat-card-actions>
      </mat-card>
  </div>
<div dir="rtl" class="main">
  <mat-card style="width:500px; height:450px;">
    <p style="text-align: center;" > חמש הקטגוריות הנצפות ביותר</p>
      <mat-card-content  style="margin-top: 28px;">
        <canvas clas="canvas" id="myChart2" style="width:250px; height:250px;"> </canvas>
      </mat-card-content>
      <mat-card-actions class="date-picker" style="margin-top: 40px;">
        <mat-form-field appearance="fill">
          <mat-label>אנא בחר טווח תאריכים</mat-label>
          <mat-date-range-input [formGroup]="this.rangeChart2" [rangePicker]="picker2" [min]="this.analytics.fiveCategoryMinDate" [max]="this.analytics.fiveCategoryMaxDate" >
            <input matStartDate formControlName="start" placeholder="Start date"  >
            <input matEndDate formControlName="end" placeholder="End date"  >
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-date-range-picker #picker2></mat-date-range-picker>
        </mat-form-field>
        <div class="button-row">
          <button class="button" mat-raised-button (click)="filterByDataCategory()">סנן</button>
          <button class="button" mat-raised-button (click)="resetCategory()">אתחל</button>
        </div>
      </mat-card-actions>
  </mat-card>
</div>
<div dir="rtl" class="main">
  <mat-card style="width:500px; height:450px;">
    <p style="text-align: center;"> מספר התשובות השגויות והנכונות מכל קטגוריה</p>
      <mat-card-content>
        <div class="button-row-b">
          <button  style=" margin-left: 6px; margin-right: 6px;height: 35px; " mat-raised-button (click)="filterByDataWrongRight(); this.rightWrongType=0">כלל המשחקים</button>
          <button  style=" margin-left: 6px; margin-right: 6px;height: 35px; " mat-raised-button (click)="filterByDataWrongRight(); this.rightWrongType=1">מותאמים אישית</button>
          <button  style=" margin-left: 6px; margin-right: 6px;height: 35px; " mat-raised-button (click)="filterByDataWrongRight(); this.rightWrongType=2">רנדומליים</button>
        </div>
        <canvas class="canvas1" id="myChart3"> </canvas>
      </mat-card-content>
      <mat-card-actions class="date-picker">
        <mat-form-field appearance="fill">
          <mat-label>אנא בחר טווח תאריכים</mat-label>
          <mat-date-range-input [formGroup]="this.rangeChart3" [rangePicker]="picker3" [min]="this.analytics.wrongRightMinDate" [max]="this.analytics.wrongRightMaxDate" >
            <input matStartDate formControlName="start" placeholder="Start date"  >
            <input matEndDate formControlName="end" placeholder="End date"  >
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-date-range-picker #picker3></mat-date-range-picker>
        </mat-form-field>
        <div class="button-row">
          <button class="button" mat-raised-button (click)="filterByDataWrongRight()">סנן</button>
          <button class="button" mat-raised-button (click)="resetWrongRight()">אתחל</button>
        </div>
      </mat-card-actions>
  </mat-card>
</div>
<div dir="rtl" class="main">
  <mat-card style="width:500px; height:450px;">
    <p style="text-align: center;" > תוצאות עשרת המשחקים האחרונים</p>
      <mat-card-content>
        <div class="button-row-b">
          <button  style=" margin-left: 6px; margin-right: 6px;height: 35px; " mat-raised-button (click)="filterAll()">כלל המשחקים</button>
          <button  style=" margin-left: 6px; margin-right: 6px;height: 35px; " mat-raised-button (click)="filterCustom()">מותאמים אישית</button>
          <button  style=" margin-left: 6px; margin-right: 6px;height: 35px; " mat-raised-button (click)="filterRandom()">רנדומליים</button>
        </div>
        <canvas class="canvas1" id="myChart4" style="margin-top: 34px;"> </canvas>
      </mat-card-content>
  </mat-card>
</div>
</div>
</div>
<app-footer>
</app-footer>
