<div class="title-bar">
    <div class="page-title">
      <div class="class-button">
        <app-return-button></app-return-button>
      </div>
      <h4 class="h2">סטטיסטיקות המטפל</h4>
    </div>
  </div>
<div class="stretch">
    <div class="graphs">
      <div style="width:400px; height:200px;">
        <canvas class="canvas1" id="myChart1"> </canvas>
        </div>
        <div style="width:400px; height:200px;">
          <canvas class="canvas1" id="myChart3"> </canvas>
          </div>
        <div style="width:300px; height:300px;">
        <canvas class="canvas1" id="myChart2"> </canvas>
        </div>
        <div style="width:400px; height:300px;">
          <canvas class="canvas1" id="myChart4"> </canvas>
          </div>
        
    </div>
    
</div>
<app-footer>
</app-footer>
