<div class="title-bar">
    <div class="page-title">
      <div class="class-button">
        <app-return-button></app-return-button>
      </div>
      <h4 class="h2">סטטיסטיקות המטפל</h4>
    </div>
  </div>

<div class="stretch">
  <div class="display"> 
  <div class="card-deck" ></div>
  <div dir="rtl" class="main">
      <mat-card style="width:500px; height:400px;">
        <p style="text-align: center;" > עשר המילים הנצפות ביותר</p>
          <mat-card-content>
            <canvas class="canvas1" id="myChart1"> </canvas>
          </mat-card-content>
      </mat-card>
  </div>
  <div dir="rtl" class="main">
    <mat-card style="width:500px; height:400px;">
      <p style="text-align: center;"> מספר התשובות השגויות והנכונות מכל קטגוריה</p>
        <mat-card-content>
          <canvas class="canvas1" id="myChart3"> </canvas>
        </mat-card-content>
    </mat-card>
</div>
<div dir="rtl" class="main">
  <mat-card style="width:500px; height:400px;">
    <p style="text-align: center;" > חמש הקטגוריות הנצפות ביותר</p>
      <mat-card-content>
        <canvas class="canvas" id="myChart2" style="width:250px; height:250px;"> </canvas>
      </mat-card-content>
  </mat-card>
</div>
<div dir="rtl" class="main">
  <mat-card style="width:500px; height:400px;">
    <p style="text-align: center;" > תוצאות עשרת המשחקים האחרונים</p>
      <mat-card-content>
        <canvas class="canvas1" id="myChart4"> </canvas>
      </mat-card-content>
  </mat-card>
</div>
</div>
    <!-- <div class="graphs">
      <div style="width:400px; height:200px;">
        <canvas class="canvas1" id="myChart1"> </canvas>
        </div>
        <div style="width:400px; height:200px;">
          <canvas class="canvas1" id="myChart3"> </canvas>
          </div>
        <div style="width:300px; height:300px;">
        <canvas class="canvas1" id="myChart2"> </canvas>
        </div>
        <div style="width:400px; height:300px;">
          <canvas class="canvas1" id="myChart4"> </canvas>
          </div>
        
    </div> -->
  
</div>
<app-footer>
</app-footer>
