
 .mat-card {
    min-width: -webkit-fill-available;
    min-height: 100px;
    margin-bottom: 20px; 
    background-color: #66676a24;
    display: grid;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    margin-left: 5px;
    margin-bottom: 8px;
  }
    
 .card-deck{
    display: flex;
    height: 100%;
    margin-top: 20px;
    flex-wrap: wrap;

    cursor: pointer;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom:20px;
  }
  
  .title-bar {
    position: relative;
  }
  
  .class-button{
    position:absolute;
    top:0;
    left:0;
  }
  
  .page-title{
    padding-top: 3px;
    padding-bottom: 2px;
    margin-bottom: 3px;
    background-size: 100%;
    background-color: black;
    display: flex;
  }
  
  .h2{
    display: block;
    margin: auto;
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: system-ui;
    color: white;
  }
  
  .mat-card-image{
  height: 170px; /* adjust as needed */
  }
  
  .middle-button{
    margin-left: 16px;
  }
    
  .right-button{
    margin-left: 10px;
  }
  
  .mat-card-title{
    font-size: 1.3rem;
    font-family: system-ui;
    color: rgb(0 0 0);
    font-weight: normal;
  }

  .mat-card-id{
    font-size: 1.2rem;
    font-family: system-ui;
    color: rgb(62, 62, 62);
    font-weight: normal;
  }
  
  .stretch{
    height : auto !important; /* Ignored by Internet Explorer, applied everywhere else. */
    height : 100%;            /* Internet Explorer treats as min-height. */
    min-height : 100%;
  }
  
  .add-button{
    margin-left: 60px;
  }
    
  .exit-button{
    display: flex;
    justify-content: end;
  }
  
    