<div class="title-bar">
    <div class="page-title">
      <div class="class-button">
        <app-return-button></app-return-button>
      </div>
      <h4 class="h2">הגדרת משחק ל{{ authService.patientOfTherapist.firstName}}</h4>
    </div>
  </div>

<div class="stretch">
  
  <div dir="rtl" class="main">
    <mat-slide-toggle [checked]="this.gameSetting.enableRandomGame" (change)="changeRandomGameSetting();">מתן אפשרות למשחק רנדומלי למטופל </mat-slide-toggle>
    <mat-expansion-panel *ngFor="let game of this.gamesInformation">
        <mat-expansion-panel-header style="background-color: ghostwhite;">
            <mat-panel-title dir="rtl" style="max-width: 200px;">
            משחק מספר {{game.gameNum + 1}} 
            </mat-panel-title>
            
        </mat-expansion-panel-header>
        <div class="mat-expansion-panel-body">
        <mat-card style="width:10rem;"  *ngFor="let word of game.listOfWords">
            <mat-card-content>
                {{word}}
            </mat-card-content>
     </mat-card>
     <div class="line-item">
        <button class="create-button" mat-raised-button color="warn" (click)="deleteGameInfo(game)"> מחיקה</button>
        <button class="create-button" mat-raised-button color="primary"> עריכה</button>
    </div>
        </div>
    </mat-expansion-panel>
</div>
<div class="line-item">
    <button class="create-button" mat-raised-button color="primary" (click)="navigateToCreateGame()"> יצירת משחק חדש</button>
</div>
</div>

<app-footer>
</app-footer>
