
<div class="title-bar">
    <div class="page-title">
      <div class="class-button">
        <app-return-button></app-return-button>
      </div>
      <h4 class="h2">הגדרת משחק ל{{ authService.patientOfTherapist.firstName}}</h4>
    </div>
  </div>

<div class="stretch">
    <p class="chosen-words" style="text-decoration: underline;" *ngIf="this.gameService.gameSettings.length === 1"> :רשימת המילים הנוכחית</p>
    <div style="background-color: #85aee6;" dir="rtl" class="chosen-words" *ngIf="this.gameService.gameSettings.length === 1">
        <div style="width:10rem;" *ngFor="let word of this.gameService.gameSettings[0].words">
                {{word}}
        </div>
    </div>

    <p class="chosen-words" dir="rtl"> בחר 10 מילים מתוך מאגר מילים הבא עבור משחק מותאם אישית:</p>
<div dir="rtl" class="main">
    <mat-expansion-panel *ngFor="let category of this.categoryService.categories">
        <mat-expansion-panel-header>
            <mat-panel-title style="max-width: 200px;">
            {{category.name}}
            </mat-panel-title>
            <mat-panel-description dir="rtl">
                 נבחרו  {{this.countChecked(category.id)}}  מתוך {{filterPerCategory(category.id).length}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="mat-expansion-panel-body">
        <mat-card style="width:10rem;"  *ngFor="let word of filterPerCategory(category.id)">
            <mat-card-content>
                <mat-checkbox dir="rtl" #checkBox [value]="word.name" (change)="getCheckbox(checkBox)">{{word.name}}</mat-checkbox>
            </mat-card-content>
     </mat-card>
        </div>
    </mat-expansion-panel>
</div>
<div class="line-item">
    <p dir="rtl"> {{this.checked.length}} מילים נבחרו מתוך 10</p>
</div>
<div class="line-item">
    <button class="create-button" mat-raised-button color="warn" (click) ="cancel()"> ביטול</button>
    <button *ngIf="showButton" class="create-button" mat-raised-button color="primary" (click) ="createGameList()"> אישור</button>
    <button *ngIf="!showButton"  disabled class="create-button" mat-raised-button color="primary"> אישור</button>
</div>
</div>

<app-footer>
</app-footer>

