<div class="title-bar">
  <div class="page-title">
    <div class="class-button">
      <app-return-button></app-return-button>
    </div>
    <h4 class="h2">{{this.categoryService.getCurrentCategory.name}}</h4>
  </div>
</div>
<!-- for normal mode -->
<div class="stretch">
    <div class="card-deck" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">

      <mat-card fxFlex="0 1 calc(20% - 20px)" style="width:10rem;" *ngFor="let item of this.words"
               class="mat-card">
        <img md-card-image=""  src={{item?.imageURL}} class="mat-card-image" />
        <mat-card-subtitle  class="mat-card-title text-center">{{ item.name }}</mat-card-subtitle>
        <mat-card-actions>
          <button mat-icon-button mat-button (click)="playVoice(item);">
            <mat-icon>mic</mat-icon>
          </button>
          <button class="middle-button" mat-icon-button mat-button (click)="playVoice(item);">
            <mat-icon>create</mat-icon>
          </button>
          <button class="right-button" mat-icon-button mat-button (click)="openDialog(item);">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
      <button mat-fab color="gray"(click)="addNewWord()">
          <mat-icon>add</mat-icon>
        </button>
  </div>
  
</div>
<app-footer>
</app-footer>



