<div class="title-bar">
  <div class="page-title">
    <div class="class-button">
      <app-return-button></app-return-button>
    </div>
    <h4 *ngIf="!isTherapist" class="h2">קטגוריות</h4>
    <h4  *ngIf="isTherapist" class="h2">קטגוריות של {{this.authService.patientOfTherapist.firstName}}</h4>
  </div>
</div>

<!-- for normal mode -->
<div class="stretch">
    <p class="buttons" *ngIf="isTherapist && this.isCategoryEnabled">על מנת להסתיר את הקטגוריה מהמטופל אנא כבה את הכפתור</p>
    <div class="card-deck" fxLayout.xs="row">
      <ng-container class="stretch" *ngFor="let item of this.categories">
        <mat-card style="width:10rem;" class="mat-card" *ngIf="item.visibility">
        <mat-card-header *ngIf="isTherapist"> 
          <mat-slide-toggle *ngIf="isTherapist" [checked]="item.visibility" (change)="updateVisibility(item);">
          </mat-slide-toggle>
          <mat-card-title style=" font-size: 1rem; " *ngIf="isTherapist">הצג למטופל</mat-card-title>
        </mat-card-header>
        <img md-card-image=""  src={{item?.imageURL}} class="mat-card-image"  (click)="openCategoryWords(item);"/>
        <mat-card-subtitle  class="mat-card-title text-center">{{ item.name }}</mat-card-subtitle>
        <mat-card-actions class="buttons">
          <button *ngIf="isTherapist" class="middle-button" mat-icon-button mat-button (click)="editCategory(item)" >
            <mat-icon>create</mat-icon>
          </button>
          <button  *ngIf="isTherapist" class="right-button" mat-icon-button mat-button (click) ="openDialog(item);" >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
      </ng-container>
      
      <button *ngIf="isTherapist" mat-fab color="gray"(click)="addNewCategory();">
        <mat-icon>add</mat-icon>
      </button>
</div>
<div class="stretch" *ngIf="isTherapist && this.isCategoryDisabled">
    <p class="buttons" *ngIf="isTherapist && this.isCategoryDisabled">על מנת להציג את הקטגוריה למטופל אנא הדלק את הכפתור</p>
    <div class="card-deck" fxLayout.xs="row" *ngIf="isTherapist">
      <ng-container *ngFor="let item of this.categories">
        <mat-card style="width:10rem;" class="mat-card" *ngIf="!item.visibility">
        <mat-card-header *ngIf="isTherapist"> 
          <mat-slide-toggle *ngIf="isTherapist" [checked]="item.visibility" (change)="updateVisibility(item);">
          </mat-slide-toggle>
          <mat-card-title style=" font-size: 1rem; " *ngIf="isTherapist">הצג למטופל</mat-card-title>
        </mat-card-header>
        <img md-card-image=""  src={{item?.imageURL}} class="mat-card-image"  (click)="openCategoryWords(item);"/>
        <mat-card-subtitle  class="mat-card-title text-center">{{ item.name }}</mat-card-subtitle>
        <mat-card-actions class="buttons">
          <button *ngIf="isTherapist" class="middle-button" mat-icon-button mat-button (click)="editCategory(item)" >
            <mat-icon>create</mat-icon>
          </button>
          <button  *ngIf="isTherapist" class="right-button" mat-icon-button mat-button (click) ="openDialog(item);" >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
      </ng-container>
  </div>
</div>



